<div class="fundo">
  <p class="card">Aprovado</p>
<div class= "container">
  <h1 class="titulo">Proposta N° 00001</h1>
  <img src="../../../assets/aprovado.png">
  <h2 class="status">STATUS: APROVADO</h2>
  <hr>
  <p class="texto">
    Taxa de 8% ao ano para correntistas<br>
    Taxa de 10% ao ano para não correntistas<br>
    Parcela inicial: R$  <br>
    Valor total aprovado: R$  <br>
    Seguro Só Vamu Security.<br>
    Desconto na primeira e na última parcela
  </p>
  <button mat-raised-button color="primary" routerLink="/">IR PARA A TELA INICIAL</button>
</div>
</div>
