.container {
  display: flex;
  justify-content: end;
  margin: 20px;

}
.conteudo {
  display: flex;
  flex-direction: column;
  height: 27vh;
  width: 30%;
  border-bottom: solid gray;

}

h1 {
  margin: 30px 0;
  font-size: 3vw;
  align-self: flex-end;
  color: purple;
}

.lorem {
  text-align: right;
}
