<div class="container" [ngClass]="{ 'container2' : responsivity }">
  <form
    class="formulario"
    [ngClass]="{ 'formulario2': responsivity }"
    [formGroup]="formulario"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input formControlName="name" matInput placeholder="Nome" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="Email" />
      <mat-error *ngIf="formulario.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Min 10 caracteres" appearance="fill">
      <mat-label>Mensagem</mat-label>
      <textarea
        formControlName="message"
        matInput
        #textarea
        minlength="10"
      ></textarea>
      <mat-hint align="end">{{ textarea.value?.length || 0 }}/10</mat-hint>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="btn"
      [disabled]="formulario.invalid"
    >
      Start Chat
    </button>
  </form>
</div>
