
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.titulo {
  color: #3f51b5;
  margin: 20px;
}

.menu1 {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-left: 60%;

 }

 .menu2 {
   border: solid rgb(197, 197, 197);
   border-radius: 5px;
   background-color: white;
   display: flex;
   flex-direction: column;

   list-style: none;
   position: absolute;
   right: 2vw;
   top: 8%;
   padding: 4px;

 }

 li {
   margin: 5px;
 }

a {
  color: #3f51b5;
  text-decoration: none;
}

.btn1 {
  margin: 5px;
  border: solid;
  color: #3f51b5;
  background: white;
  border-radius: 20px;

}

.cabecalho {
  color: #3f51b5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho a {
  text-decoration: none;
}
