<div class="fundo">
  <p class= "card">Reprovado</p>
<div class= "container">
  <h1 class="titulo">Proposta N° 00001</h1>
  <img src="../../../assets/reprovado.png">
  <h2 class="status">STATUS: REPROVADO</h2>
  <hr>
  <Section class="texto">
      Infelizmente não foi possivel aprovar seu financiamento.<br>
      Não, desanime, reuniremos algumas dicas que podem ajudar na sua próxima simulação:
      <p>
        Mantenha seu CPF em dia e sem restrições.<br>
        Dados de endereço, e-mail, telefone sempre atualizados.<br>
        Melhore seu relacionamento com o banco, movimentando sua conta.
      </p>
  </Section>
  <button mat-raised-button color="primary" routerLink="/">IR PARA A TELA INICIAL</button>
</div>
</div>
