<div class="fundo">
  <h2 tabindex="0" class= "card">Reprovado</h2>
<main tabindex="0" class= "container">
  <h1 class="titulo">Proposta <b aria-label="número">N°</b> 00001</h1>
  <img alt='' src="../../../assets/reprovado.png">
  <h3 class="status">STATUS: REPROVADO</h3>
  <hr>
  <Section class="texto">
      Infelizmente não foi possível aprovar seu financiamento.<br>
      Não, desanime, reuniremos algumas dicas que podem ajudar na sua próxima simulação:
    </Section>
        <ul class="lista">
          <li>Mantenha seu CPF em dia e sem restrições.</li>
          <li>Dados de endereço, e-mail, telefone sempre atualizados.</li>
          <li>Melhore seu relacionamento com o banco, movimentando sua conta.</li>
      </ul>

  <button mat-raised-button color="primary" routerLink="/">IR PARA A TELA INICIAL</button>
</main>
</div>
