
header {
  display: flex;
  justify-content: space-between;
}

.titulo {
  color: purple;
  display: flex;
  align-items: center;
  height: 30%;
  margin: 20px;
}

.menu1 {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-left: 60%;

 }

 .menu2 {
   border: solid rgb(197, 197, 197);
   border-radius: 5px;
   background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  position: absolute;
  right: 2vw;
  top: 8%;
  margin: 2px;

 }

 li {
   margin: 5px;
 }

a {
  text-decoration: none;
}

.btn1 {
  border: solid purple;
  color: purple;
  background: white;
  border-radius: 20px;
  width:200px;
  height: 30px;
}
