<div class="container" [ngClass]="{'container2' : responsivity}">
  <section CLASS="conteudo"[ngClass]="{'conteudo2' : responsivity}">
    <h1 class="titulo" [ngClass]="{'titulo2' : responsivity}"><b>CONTACT US</b></h1>
    <p class="lorem" [ngClass]="{'lorem2' : responsivity}">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco.
    </p>
  </section>
</div>
